<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Analyze An Article</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <header>
            <h1>Article Vibes</h1>
            <p>Made possible by MeaningCloud</p>
        </header>

        <main>
            <section>
              <h2>Analyze a Website</h2>
                <form class="" onsubmit="return Client.callAPI.callAPI()">
                    <input id="site" type="url"
                    pattern="https?://.+" name="input" value="https://"
                    title="ex: check.mysite" >
                    <input id="button" type="submit" name="" value="submit" onsubmit="Client.callAPI.callAPI()">
                </form>
            <section>

            <section id = "resultsContainer">
                <strong>Analysis Results:</strong>
                <div id="results">
                </div>
            </section>
        </main>

        <footer>
            <p>Thanks for using. App by Luke Moyer</p>
        </footer>
        <script>
         // Check that service workers are supported
         if ('serviceWorker' in navigator) {
             // Use the window load event to keep the page load performant
             window.addEventListener('load', () => {
                 navigator.serviceWorker.register('/service-worker.js');
             });
         }
        </script>
    </body>
</html>
