$gray: #2c3439;
$blue: #1d84d7;
$offwhite: #5dbbf7;

%bar{
  background-color: $gray;
  color: white;
  display: flex;
  align-items: center;
  padding: 40px 40px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: radial-gradient(at top, $offwhite, $blue);
    margin: 0;
    padding:0;
}

main {
    flex: 2;
    margin: 40px;
}

section {
    max-width: 900px;
    margin: 40px auto;

    h2 {
      font-size: 3em;
      text-align: center;
      color: white;

    }

}
