@import "base.scss";

form {
    margin: 30px auto;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    max-width: 600px;
    background-color: $gray;
}

input {
    padding: 5px 20px;
    width: auto;
    margin: 15px 15px;
    line-height: 2em;
    border-radius: 5px;
    border: none;
    font-size: 1em;
}

#site {
  flex: 2;
  margin-right: 0;
}

#button {
  background-color: $blue;
  color: white;
}
